/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* Header Styles */
header {
    background-color: #ff6900;
    width: 100%;
    /* DEBUG */
    height: 80px;
}

.topbar {
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header .topbar .menu-column {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.topbar .main-menu {
    display: flex;
    list-style: none;
}

.topbar .main-menu a {
    color: white;
    text-decoration: none;
}

.topbar .main-menu a:hover {
    text-decoration: underline;
}

.main-menu li {
    padding: 0 10px;
    font-size: 16px;
}

header .topbar .logo-column {
    max-width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-column img {
    width: 150px;
}

header .topbar .buttons-column {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

/* Main Styles */
.container {
    max-width: 80%;
    margin: 50px auto;

    /* DEBUG */
    background-color: blueviolet;
    height: 2000px;
}

.row {
    display: flex;
}

.col {
    width: calc(100% / 3);
    position: relative;

    /* DEBUG */
    background-color: grey;
    min-height: 100px;
    
}

.img-container img {
    width: 100%;
}

.label-discount {
    position: absolute;
    left: 0;
    bottom: 55px;
    background-color: #ff0000;
    color: white;
    padding: 7px 14px;
    font-weight: bold;
    font-size: 15px;
}

.label-sustainability {
    position: absolute;
    left: 67px;
    bottom: 55px;
    background-color: #008000;
    color: white;
    padding: 7px 14px;
    font-weight: bold;
    font-size: 15px;
}

