/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* Header Styles */
header {
    background-color: #ff6900;
    width: 100%;
    position: fixed;
    z-index: 500;
    height: 80px;
}

.topbar {
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header .topbar .menu-column {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.topbar .main-menu {
    display: flex;
    list-style: none;
}

.topbar .main-menu a {
    color: white;
    text-decoration: none;
}

.topbar .main-menu a:hover {
    text-decoration: underline;
}

.main-menu li {
    padding: 0 10px;
    font-size: 16px;
}

header .topbar .logo-column {
    max-width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-column img {
    width: 150px;
}

header .topbar .buttons-column {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

/* Main Styles */

main {
    padding: 80px 0;
}
.container {
    max-width: 80%;
    margin: 50px auto;
}

.row {
    display: flex;
    margin-bottom: 70px;
}

.col {
    width: calc((100% / 3) - 24px);
    position: relative;
    margin: 0 12px;
}

.img-container {
    position: relative;
}

.img-container img {
    width: 100%;
    transition: all linear 0.3s;
    border-radius: 10px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

img.overlap {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.img-container:hover img {
    opacity: 0;
}

.img-container:hover img.overlap {
    opacity: 1;
}

.label-discount {
    position: absolute;
    left: 0;
    bottom: 55px;
    background-color: #ff0000;
    color: white;
    padding: 7px 14px;
    font-weight: bold;
    font-size: 15px;
}

.label-sustainability {
    position: absolute;
    left: 67px;
    bottom: 55px;
    background-color: #008000;
    color: white;
    padding: 7px 14px;
    font-weight: bold;
    font-size: 15px;
}

.sixth-slot {
    position: absolute;
    left: 0;
    bottom: 55px;
}

.label-heart {
    position: absolute;
    top: 12px;
    right: 0;
    background-color: white;
    padding: 20px 15px;
    cursor: pointer;
}

.label-heart:hover .fa-heart {
    color: red;
}

.text-container {
    margin-top: 5px;
}

.brand {
    font-size: 17px;
}

.item {
    font-size: 20px;
    font-weight: bold;
}

.current-price {
    font-size: 15px;
    color: red;
    margin-right: 10px;
    font-weight: bold;
}

.price {
    font-size: 15px;
    text-decoration: line-through;
}

/* Footer Styles */
footer {
    background-color: black;
    width: 100%;
    height: 120px;
}

.main-footer {
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-footer, a {
    color: white;
}

.col-footer ul {
    display: flex;
    list-style: none;
    
}

.col-footer ul a {
    text-decoration: none;
}

.col-footer ul a:hover {
    text-decoration: underline;
}

.society { 
    font-size: 18px;
    font-weight: bold;
}

.info {
    font-size: 13px;
    padding: 8px 10px 0 0;
}

.findus {
   font-size: 13px;
   font-weight: bold;
}

.social {
    text-align: center;
}

.social, a {
    color: white;
}

.social ul {
    display: flex;
    list-style: none;
    text-align: center;
}

.info-social {
    padding: 10px 5px 0 5px;
}





